<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" routerLink="/recipes">Recipe Book</a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
            <li class="nav-item"><a  class="nav-link" routerLink="/recipes" routerLinkActive="active">Recipes</a></li>
            <li class="nav-item"><a  class="nav-link" routerLink="/auth" routerLinkActive="active">Authenticate</a></li>
            <li class="nav-item"><a  class="nav-link" routerLink="/shopping-list" routerLinkActive="active">Shopping List</a></li>
            <li class="nav-item"><a  class="nav-link" routerLink="/exercise-base" routerLinkActive="active">EXERCISE</a></li>
        </ul>
        <ul class="navbar-nav ml-auto"> <!-- navbar-right per bootstrap 3-->
            <li class="nav-item dropdown" appDropdownDirective>
                <a class="nav-link dropdown-toggle" role="button">Manage <span class="caret"></span></a>
                <ul class="dropdown-menu" style="left: -70 !important;">
                    <li class="dropdown-item">
                        <a href="#" class="dropdown-item" (click)="onSaveData()">Save Data</a>
                    </li>
                    <li class="dropdown-item">
                        <a href="#" class="dropdown-item"(click)="onFetchData()">Fetch Data</a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</nav>