<div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
            <div formGroupName="userData">
                <div class="form-group">
                    <label for="username">Username</label>
                    <input type="text" id="username" class="form-control" formControlName="username">
                    <span class="help-block" *ngIf="!form.get('userData.username').valid && form.get('userData.username').touched"> <!-- se presente un errore-->
                        <span *ngIf="form.get('userData.username').errors['nameIsForbidden']"> <!-- errore con validatore custom-->
                            This username is forbidden, use other username
                        </span>
                        <span *ngIf="form.get('userData.username').errors['required']"> <!-- errore campo required -->
                            Username is required
                        </span>
                    </span>
                </div>
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="email" id="email" class="form-control" formControlName="email">
                    <span class="help-block" *ngIf="!form.get('userData.email').valid && form.get('userData.email').touched">
                        Enter a valid email
                        <span *ngIf="form.get('userData.email').errors?.forbiddenEmail"> is Forbidden !</span> <!-- utilizzato async validator-->
                    </span>
                </div>
            </div>
            <div class="radio" *ngFor="let gender of genders">
                <label>
                    <input type="radio" [value]="gender" formControlName="gender">{{gender}}
                </label>
            </div>
            <div formArrayName="hobbies">
                <h4>Your Hobbies</h4>
                <button type="button" class="btn btn-default" (click)="onAddHobby()">Add Hobby</button>
                <div class="form-group" *ngFor="let control of hobbiesControls; let i=index">
                    <input type="text" class="form-control" [formControlName]="i">
                </div>
            </div>
            <span class="help-block" *ngIf="!form.valid && form.touched">Form invalid</span>
            <button class="btn btn-primary" type="submit">Submit</button>
            <div>
                <button type="button" class="btn btn-secondary" (click)="setFormValues()">Set Form Values</button>
                <button type="button" class="btn btn-secondary" (click)="patchFormValues()">Patch Form Value</button>
                <button type="button" class="btn btn-secondary" (click)="resetForm()">Reset</button>
            </div>
        </form>
    </div>
</div>
