div.appunti {
    color: whitesmoke;
    background-color: #3e3e3e;
    padding: 5px;
    margin-bottom: 10px;
}
p {
    padding: 5px;
}
hr {
    background-color: whitesmoke;
}
code {
    display: block;
    padding: 10px;
}
pre {
    color: whitesmoke;
}