
<div style="background-color: black; color: whitesmoke; border: 1px solid whitesmoke; padding: 10px;">
    <h5>Input File to base64 Example</h5>
    Input File test converto in base64 <input type="file" (change)="onInputChange($event)"><br>
    <code><i>Visualizzare il risultato nella console</i></code>
</div>
<hr>
<div class="row">
    <div class="col-6">
        <h5>Template driven Examle</h5>
        <app-template-driven-example></app-template-driven-example>
    </div>
    <div class="col-6">
        <h5>Reactive Form Examle</h5>
        <app-reactive-form-example></app-reactive-form-example>
    </div>
</div>


