<div class="row">
    <div class="col-sm-12">
        <h3>App component esercizi test</h3>
        <button *ngFor="let button of navigationButtons" 
                style="margin-right: 5px;"
                [class.active]="button.tipoEsercizio === eserciziDaMostrare" 
                (click)="button.click()">
            {{ button.label}}
        </button>
        <hr>
    </div>
</div>


<div class="row" *ngIf="eserciziDaMostrare === ESERCIZI_DA_MOSTRARE.BASICS">
    <div class="col-12">
        <h4>Data Binding BASIC-2</h4>
        <app-servers></app-servers>
    </div>
</div>


<div class="row" *ngIf="eserciziDaMostrare === ESERCIZI_DA_MOSTRARE.DATA_BINDING">
    <div class="col-sm-12">
        <h4>Dati tra Componenti - dom databind - 5</h4>
        <app-cockpit (serverCreated)="onServerAdded($event)" (blueprintCreated)="onBlueprintAdded($event)"></app-cockpit>
        <div class="row">
            <div class="col-xs-12">
                <app-server-element *ngFor="let serverElement of serverElements" [srvElement]="serverElement">
                    <!-- ng-content in appServerComponent visualizza questo contenuto dove ho inserito il tag <ng-content>-->
                    <p #contentChildRef>
                        <strong *ngIf="serverElement.type === 'server'" style="color: red;">{{ serverElement.content }}</strong>
                        <em *ngIf="serverElement.type === 'blueprint'" style="color: blue;">{{ serverElement.content }}</em>
                    </p>
                </app-server-element>
            </div>
        </div>
    </div>
</div>

<div class="row" *ngIf="eserciziDaMostrare === ESERCIZI_DA_MOSTRARE.DIRECTIVES">
    <div class="col-12">
        <h4>Directives-7</h4>
        <app-directives></app-directives>
    </div>
</div>

<div class="row" *ngIf="eserciziDaMostrare === ESERCIZI_DA_MOSTRARE.SERVICES">
    <div class="col-12">
        <h4>Services - Dependency Injection - 9</h4>
        <app-dependency-injection></app-dependency-injection>
    </div>
</div>

<div class="row" *ngIf="eserciziDaMostrare === ESERCIZI_DA_MOSTRARE.ROUTING">
    <div class="col-12">
        <h4>Routing - 11</h4>
        <app-routing></app-routing>
    </div>
</div>

<div class="row" *ngIf="eserciziDaMostrare === ESERCIZI_DA_MOSTRARE.OBSERVABLE">
    <div class="col-12">
        <h4>Observables - 13</h4>
        <app-observable></app-observable>
    </div>
</div>

<div class="row" *ngIf="eserciziDaMostrare === ESERCIZI_DA_MOSTRARE.FORMS">
    <div class="col-12">
        <h4>Forms - 15</h4>
        <app-forms></app-forms>
    </div>
</div>

<div class="row" *ngIf="eserciziDaMostrare === ESERCIZI_DA_MOSTRARE.PIPES">
    <div class="col-12">
        <h4>Pipes - 17</h4>
        <app-pipes></app-pipes>
    </div>
</div>

<div class="row" *ngIf="eserciziDaMostrare === ESERCIZI_DA_MOSTRARE.HTTP">
    <div class="col-12">
        <h4>Http - 18</h4>
        <app-http></app-http>
    </div>
</div>



